* {
  border: 1px solid green;
}

body {
  margin: 0;
  padding: 0;
}

.grid1 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  min-height: 100vh;
}

.grid-item1 {
  background-color: blue;
  grid-column: 1 / span 4;
  grid-row: 4;
}

.grid-item2 {
  background-color: orange;
  grid-column: 1 / span 5;
  grid-row: 1 / span 2;
}

.grid-item3 {
  background-color: grey;
  grid-column: 1 / span 4;
  grid-row: 5;
}
